dev_full
dev
exp
*.pyc
__pycache__
examples
projects
.windsurf
# *.json
.env
.env.*
!.env.example
src/operators/layout_artist_operators/dimension_estimation.json
*.pdf
*.jpg
*.png
.DS_Store
uthana
example_input
example_output